@using TelefonRehberi.Models
@using TelefonRehberi.Kutuphane
@model IEnumerable<Departman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminUI.cshtml";
}

<h2>Departman Listesi</h2>
<br />
@Html.ButtonLink("/Departman/DepartmanEkle", "btn btn-warning", "glyphicon glyphicon-plus", " Departman Ekle")
<br />
<br />
<span>@ViewBag.hata</span>
<br />
<table class="table table-hover">
    <tr>
        <td><b>ID</b></td>
        <td><b>Departman Adı</b></td>
        <td><b>Güncelle</b></td>
        <td><b>Sil</b></td>
    </tr>
    @foreach (Departman departmanlar in Model)
    {
        <tr>
            <td>
                @departmanlar.ID
            </td>
            <td>@departmanlar.DepartmanAd</td>

            <td width="20">
                @Html.ButtonLink(Url.Action("DepartmanGuncelle", "Departman", new { id = departmanlar.ID }), "btn btn-success btn-sm", "glyphicon glyphicon-record", "Güncelle")
            </td>
            <td width="20">
                @Html.ButtonLink(Url.Action("DepartmanSil", "Departman", new { id = departmanlar.ID }), "btn btn-danger btn-sm", "glyphicon glyphicon-trash", "Sil")
            </td>
        </tr>
    }
</table>

