@model Asp.Net.Core.Identity.Models.UserSignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KayitOl</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <form asp-action="KayitOl" class="w-50 mx-auto p-4 mt-3 shadow">
        <div class="form-group text-center">
            <img src="https://www.getminute.com/wp-content/uploads/2016/06/signup-blue.png" alt="Alternate Text" width="150" height="150" />
        </div>
        <div class="form-group text-center">
            <label>Kullanıcı Adınız :</label>
            <input asp-for="@Model.Username" class="form-control text-center" placeholder="Kullanıcı Adınızı Giriniz" />
        </div>
        <div class="form-group text-center">
            <label>Adınız :</label>
            <input asp-for="@Model.Name" class="form-control text-center" placeholder="Adınızı Giriniz" />
        </div>
        <div class="form-group text-center">
            <label>Soyadınız :</label>
            <input asp-for="@Model.Surname" class="form-control text-center" placeholder="Soyadınızı Giriniz" />
        </div>
        <div class="form-group text-center">
            <label>Şifreniz :</label>
            <input asp-for="@Model.Password" class="form-control text-center" placeholder="Şifrenizi Giriniz." />
        </div>
        <div class="form-group text-center">
            <label>Şifrenizi Onaylayın :</label>
            <input asp-for="@Model.ConfirmPassword" class="form-control text-center" placeholder="Şifrenizi tekrar giriniz." />
        </div>
        <div class="form-group text-center">
            <label>Email :</label>
            <input asp-for="@Model.Email" class="form-control text-center" placeholder="Email adresinizi giriniz." />
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Kayit Ol" />

        </div>
        <div class="form-group text-center">

            Hesabın Yok mu ?<hr /> <button asp-action="Index" class="btn btn-primary btn-xs" style="">Giriş Yap</button>
        </div>

    </form>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
