@model OnlineKutuphanem.Models.Entity.Uyeler

@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}




<div class="main-div">
    <div class="panel">
        <h2>Üye Ekleme Sayfası</h2>
    </div>
    <form class="form-group" method="post">
        <label>Üye Adı</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.AD, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.AD, "", new { @style = "color:red" })
        </div>
        <label>Üye Soyadı</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.SOYAD, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.SOYAD, "", new { @style = "color:red" })
        </div>
        <label>E-Posta Adresi</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.MAİL, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.MAİL, "", new { @style = "color:red" })
        </div>
        <label>Kullanıcı Adı</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.KULLANICIADI, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.KULLANICIADI, "", new { @style = "color:red" })
        </div>
        <label>Şifre</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.SIFRE, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.SIFRE, "", new { @style = "color:red" })
        </div>
        <label>Fotoğraf Adres Linki</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.FOTOGRAF, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.FOTOGRAF, "", new { @style = "color:red" })
        </div>
        <label>Telefon</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.TELEFON, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.TELEFON, "", new { @style = "color:red" })
        </div>
        <label>Okul Bilgisi</label>
        <div class="form-group">
            @Html.TextBoxFor(u => u.OKUL, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.OKUL, "", new { @style = "color:red" })
        </div>


        <button type="submit" class="btn btn-success"> Üyeyi Ekle</button>
        <a href="/Uyeler/Index" class="btn btn-primary"><i class="glyphicon glyphicon-backward"></i>    Üye Listesine Geri Dön</a>
    </form>
</div>


